body{
	font-size: 20px;
	font-family: 'Courier New';
	color: #333;
  background-color:black;
}

  /* ==================================================================================================================================================== */
  /* ==================================================================================================================================================== */
  /* ====================================================================================================================================================n */
  /* header onwards */


  .nav_bar ul{
    list-style-type: none;
    overflow: hidden;
    background-color: #414552;
    font-size:150%;
  }

  .nav_bar li{
    float: left;
    background-color:#414552;
  }

  .nav_bar li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color:#414552;
  }

  .nav_bar li a:hover{
    background-color:white;
    color:black;
  }
  /* ==================================================================================================================================================== */
  /* ==================================================================================================================================================== */
  /* ==================================================================================================================================================== */
  /* ====================================================================================================================================================n */

#quiz{
  margin: auto;
  width: 50%;
  border: 3px solid skyblue;
  padding: 10px;
  text-align: center;
  background-color:grey;
}
.question{
  font-size:150%;
  color:black;
}
.answers {
  font-weight: 600;
    margin-bottom: 20px;
  font-size:115%;
   color:black;
}
  .background_header{
    background-color:#282834;
    font-size: 200%;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding-top:2%;
    padding-bottom:2%;
  }

  .background_header h1{
    margin-left: 5%;
    margin-right: 5%;
    font-size: 200%;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
  }

.theName{
    justify-content: center;
    align-items: center;
    text-align: center; 
}

.theName h1{
  color:white;
  margin-bottom:-1%;
}

#contact-name{
  height:35px;
  font-size:14pt;
}

#submit{
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 50px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #70778E;
}
#submit:hover{
	background-color: #3a8;
}

#results{
  color:white;
}